[submodule ".\\external\\oboe"]
	path = .\\external\\oboe
	url = https://github.com/google/oboe.git
[submodule ".\\external\\godot-cpp"]
	path = .\\external\\godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
